.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers the cards horizontally */
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px; /* Added margin bottom for spacing */
  max-width: 800px; /* Adjust the max-width to change the card size */
  margin: 20px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  line-height: 1.5;
}

.text-body-secondary {
  font-size: 0.875rem;
  color: #6c757d;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block; /* Fixes the image alignment issue */
  border-radius: 8px 0 0 8px; /* Rounded corners only on the left side */
}
