/* MyComponent.css */

/* Basic button styles */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
  }
  
  /* Primary button styles */
  .btn-primary {
    background-color: #353232;
    color: #ffffff;
  }
  
  /* Hover effect */
  .btn:hover {
    transform: translateY(-3px); /* Move the button up slightly */
    box-shadow: 0 4px 8px rgba(65, 66, 66, 0.3); /* Add a subtle shadow */
  }
  